html{
    background: rgb(255, 223, 174);
    font-family: Arial, Helvetica, sans-serif;
}
* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #424242;
}
li {
	float: left;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover {
	background-color: #111;
}

.myInfoLeft {
    padding: 2%;
    padding-top: 5%;
	float: left;
	width: 40%;
    background-color: #424242;
    height: 120%;
}

.myInfoRight {
    padding: 2%;
    padding-top: 5%;
	float: right;
	width: 60%;
    background-color: #424242;
    height: 120%;
}
.mainFrame{
    width: 90%;
    height: 90%;
    margin: auto;
    background-color: #424242;
}
input {
    border:none;
    background-image:none;
    background-color: white;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 10px;
    width: 75%;
    padding: 12px;
    resize: vertical;
}
input:focus {
    border: 3px solid #555;
}
h1 {
    color: navy;
}
#login {
    padding: 25%;
}

#loginEmail {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid navy;
}
label {
    color: white;
}
.inputs {
    margin-bottom: 8%;
    margin-left: 15%;
}
.inputsTitle {
    margin:  35%;
    font-size: 24px;
}

.inputs2 {
    width: 100%;
    margin-bottom: 8%;
    margin-left: 15%;
}
#submitButton {
    margin-left: 5%;
}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  #searchButton {
    margin-left: 15%;
  }