html{
    background: rgb(255, 223, 174);
    font-family: Arial, Helvetica, sans-serif;
}
* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #424242;
}
li {
	float: left;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover {
	background-color: #111;
}

#myInfoLeft {
    padding: 2%;
	float: left;
	width: 40%;
    background-color: #424242;
    height: 100%;
}

#myInfoRight {
    padding: 2%;
	float: right;
	width: 60%;
    background-color: #424242;
    height: 100%;
}
#mainFrame{
    width: 90%;
    height: 90%;
    margin: auto;
}
input {
    border:none;
    background-image:none;
    background-color: white;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 10px;
    width: 60%;
    padding: 12px;
    resize: vertical;
}
input:focus {
    border: 3px solid #555;
}
h1 {
    color: navy;
    ;
}